<nav class="navbar navbar-expand-lg navbar-dark bg-info">
  <a class="navbar-brand" routerLink="/home">Control de Tareas</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto" *ngIf="identity">
      <li class="nav-item">
        <a class="nav-link" routerLink="/responsibles">Responsables</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/tasks">Tareas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/sub_tasks">Sub Tareas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/search">Consultas</a>
      </li>
    </ul>

	<ul class="navbar-nav ml-auto" *ngIf="identity"  >
        <li class="nav-item">
          <a class="nav-link">{{ identity.username }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['logout', 1]"><span>Salir </span><i class="fa fa-sign-out"></i></a>
        </li>
    </ul>
  </div>
</nav>